{{#*inline "main"}}
  <h2>User Creation</h2>
  <form action="/admin/user/create" method="POST">
    <p>Use the form below to create a new user...</p>
    <input type="text" name="username" placeholder="Username" autocomplete="off" />
    <input type="text" name="password" placeholder="Password" autocomplete="off" />
    <button type="submit" value="submit">Create</button>
  </form>
  <hr />
  <h2>Registered Users</h2>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>Username</th>
        <th>#Visit</th>
        <th>Register Time</th>
        <th>Change Password</th>
        <th>Test Password</th>
        <th>Remove User</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td>{{@index}}</td>
        <td>{{id}}</td>
        <td>{{username}}</td>
        <td>{{visit_count}}</td>
        <td>{{register_date_time}}</td>
        <td>
          <a href="/admin/user/change_password/{{id}}">Change Password</a>
        </td>
        <td>
          <a href="/admin/user/test_password/{{id}}">Test Password</a>
        </td>
        <td>
          <form action="/admin/user/remove" method="POST" onsubmit="return confirm('Are you sure you want to remove user {{username}}?')">
            <input style="display: none" name="id" value="{{id}}" />
            <button type="submit">Remove</button>
          </form>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="42"> <!-- 42 as a magic number to span all columns -->
          <p style="text-align: center">No user found</p>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <hr />
  <h2>User Collection Setup</h2>
  <form action="/admin/user/setup" method="POST">
    <p>Click the button below to setup the index (After this you will no longer be able to have duplicate usernames)</p>
    <button type="submit">Setup</button>
  </form>
  <hr />
  <h2>User Session Management</h2>
  <form action="/admin/user/session/purge" method="GET">
    <p>Click the button below to purge the expired sessions</p>
    <button type="submit">Purge</button>
  </form>
  <hr />
  <h2>Manga Information</h2>
  <form action="/admin/manga/add" method="POST">
    <p>Add a manga by its Cartoonmad ID (e.g. 1456). Use upsert if you want to update the manga (insert if not existed). Use Check to view the manga information.</p>
    <input name="dmk_id" placeholder="Cartoonmad ID" autocomplete="off" />
    <button type="submit">Add</button>
    <button type="submit" formaction="/admin/manga/upsert">Upsert</button>
    <button type="submit" formaction="/admin/manga/check" formmethod="get">Check</button>
  </form>
  <hr />
  <h2>Manga Update</h2>
  <form ctrl="disabler">
    <p>Click the buttons below to update mangas accordingly</p>
    <p>Make sure you are able to wait a while for these tasks to be finished running</p>
    <button formaction="/admin/latest/fetch_overall" formmethod="post">Fetch Overall Latest Mangas</button>
    <button formaction="/admin/latest/fetch_genres" formmethod="post">Fetch Latest Manga of All Genres</button>
    <button formaction="/admin/latest/fetch_ended" formmethod="post">Fetch Ended Manga</button>
    <button formaction="/admin/latest/fetch_updating" formmethod="post">Fetch Oldest Updating 50</button>
  </form>
  <hr />
  <h2>Manga Collection Setup</h2>
  <form action="/admin/manga/setup" method="POST">
    <p>Click the button below to setup the <code>dmk_id</code> index (After this you will no longer be able to have duplicate <code>dmk_id</code>)</p>
    <button type="submit">Setup</button>
  </form>
  <hr />
  <h2>Follow Collection Setup</h2>
  <form action="/admin/follow/setup" method="POST">
    <p>Click the button below to setup the <code>manga_dmk_id</code> and <code>user_id</code> index in the follow collection</p>
    <button type="submit">Setup</button>
  </form>
{{/inline}}

{{~> layout/admin title="Index"}}